<!doctype html>
{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Simple venn.js example</title>
<style>
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}
</style>
</head>

<body>
    <div id="venn"></div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>

<script  src='{% static 'node_modules/venn.js/build/venn.min.js' %}'></script>
   
<script>
// define sets and set set intersections
//var sets = [ {sets: ['Of the 200Females with HIV'], size: 12},
             //{sets: [{{ item.val1 }}], size: 12},
             //{sets: ['Only 20% have SpouseTested'], size: 4},
             //{sets: ['Only 20% have SpouseTested','Of the 200Females with HIV',], size: 4}
             //];
var sets = [ {sets: ['Of the '+{{ item.val1 }}+' Females with HIV'], size: 12},
             
             {sets: [{{ item.val5}}+' have their Babies not tested'], size: 4},
             {sets: [{{ item.val5}}+' have their Babies not tested','Of the '+{{ item.val1 }}+' Females with HIV',], size: 4},
             {sets: ['20 have spouses tested',], size: 4},

             ];
var chart = venn.VennDiagram();
d3.select("#venn").datum(sets).call(chart);

d3.select("#inverted").datum(sets).call(chart)

d3.selectAll("#inverted .venn-circle path")
    .style("fill-opacity", .8);

d3.selectAll("#inverted text").style("fill", "white");
</script>
</html>